

    <!-- 舞台 -->
    <div class="stage">
        <div class="cube">
            <div class="face face_home">
                 <div class="photo">
                     <img src="/img/my.png" alt="" />
                     <div class="download-wrap">
  <div class="download">
    <a ng-click="Down()"  class="button-download">
   
      下载简历
      <span class="icon-wrap">
        <i class="icon-download"></i>
      </span>
    </a>
    <div class="meter">
      <span class="meter-progress"></span>
    </div>
  </div>
</div>
                 </div>
                 <div class="summary">
                 <h1>胡歌</h1>
                     <ul>
                         <li>电话:15718863305</li>
                         <li>邮箱:likai_1_6_3@163.com</li>
                         <li>微信:15718863305</li>
                         <li>作品:<a href="#">PROJECT</a></li>
                         <li>简介:<a href="#">SUMMARY</a></li>
                         <li>工作:<a href="#">WORK</a></li>
                     </ul>
                 </div>

            </div>
            <div class="face face_skil">
             <div class="clone"></div>
            <div class="content-skil">
                <!-- <p>热爱新技术，喜欢web前端</p> -->
                <p><strong>HTML-CSS-JS:</strong> 非常熟练使用 html(5), css(3), js, 深入理解面向对象编程以及js的原型继承方式, 可完全不借助框架和库熟练编写js. 独立实现的超轻量DOM节点复杂选择器,, 熟悉响应式布局和浏览器兼容性处理, 有移动端响应式开发经验.  </p>
                <p><strong>前端常用工具和技术:</strong> 熟练使用  Less, Sass, Jade, ejs 提高开发效率, 熟悉 Git 和 SVN, 熟练使用 Nodejs, Express, ES6, Vue, Bootstrap.</p>
                <p><strong>前端工程化:</strong> 熟悉 Gulp, 对单页应用前端架构充分了解. 熟悉 CommonJS, AMD 规范, 熟悉模块化开发. 利用 Gulp 或者 fis3 进行打包单页应用.</p>
                <p><strong>跨域:</strong> 针对于前后端完全分离可实现不同的跨域方案. 熟悉 JSONP, AJAX跨域(CORS), H5跨域(postMessage), iframe跨域等</p>
                <p><strong>服务器端:</strong> 熟悉基本的 Linux 操作命令和 Nginx 配置, 熟悉 HTTP 和 TCP 协议基本原理. 熟练使用 php 和 mysql 在个人项目中开发, 熟悉 MVC, MVVM模式. 熟悉工厂,单例,观察者等常用设计模式</p>
            </div>


            <div class="htmleaf-container">
        
            <div class="wrapper clearfix show">
            <div class="clock" id="clock"></div>
            </div>
        
               </div>
            </div>
            <div class="face face_project">
                 <div class="content-project">
                     <ul>
                         <li>
                         <a href= "http://www.limeng.site/1"><img src="/img/vue.png"></a>
                         <p><strong>神工呼叫:</strong>手机滚滚屏工作后开发的第一个项目，采用css3 + velocity框架开发</p>
                         </li>
                         <li>
                        <a href= "http://www.limeng.site/4"><img src="/img/vue.png"></a>
                         <p><strong>搜搜图片:</strong>搜搜图片站采用模块化开发seaJs + 经典设计模式MVC的框架Backbone开发，开发中遇到很多层次数据交互</p>
                         </li>
                         <li>
                        <a href= "http://www.limeng.site/6"><img src="/img/vue.png"></a>
                         <p><strong>达达外卖：</strong> 
                          达达外卖采用了MVVM模式中的VUE开发,VUE的异步批处理方式更新 DOM,对模块友好,使用场景灵活。
                          </p>
                         </li>
                         <li>
                        <a href= "http://www.limeng.site/5"><img src="/img/vue.png"></a>
                         <p><strong>someet:</strong>
                         someet : 采用淘宝SUi手机端框架开发，使用了懒加载和无限滚动刷新技术</p> 
                         </li>
                         <li>
                        <a href= "http://www.limeng.site/home"><img src="/img/vue.png"></a>
                         <p><strong>后台数据库:</strong>
                         后台数据库:是仿制后台系统，利用angular.js开发一个网站,可以向数据库中注册信息和读取信息</p>
                         </li>
                     </ul>
                 </div>


            </div>
            <div class="face face_info">
                 <div class="content-info">
                      <ul>
                          <li></li>
                      </ul>
                 </div>

            </div>
           
            
           
        </div>
    </div>
